main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "" sans-serif;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
}

.form-container{
    height: fit-content;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }

        button{
            background-color: rgb(245, 40, 40) ;
              border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
            color: aliceblue;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .toggleAuthForm{
          color: rgb(245, 40, 40) ;
          text-decoration: none;
    }
}